@page "/debug"
@using Microsoft.EntityFrameworkCore
@using ai_demos.Services.Ingestion
@layout ChatLayout
@inject IngestionCacheDbContext db

<TelerikGrid Data="docs">
        <GridColumns>
            <GridColumn Field="@(nameof(IngestedDocument.Id))" Title="Id" />
        </GridColumns>
    <DetailTemplate>
        @{
            var doc = context as IngestedDocument;

            <TelerikGrid Data="@doc.Records"
                         Height="300px"
                         Pageable="true"
                         Sortable="true"
                         PageSize="5">
                <GridColumns>
                    <GridColumn Field=@nameof(IngestedRecord.Id) Title="Record ID" />
                </GridColumns>
            </TelerikGrid>
        }
    </DetailTemplate>
</TelerikGrid>

<button @onclick="DeleteAllRecords">Delete All Records</button>

@code {
    IEnumerable<IngestedDocument> docs = [];

    private async Task DeleteAllRecords()
    {
        db.Documents.RemoveRange(db.Documents);
        db.Records.RemoveRange(db.Records);
        await db.SaveChangesAsync();
    }

    protected override Task OnInitializedAsync()
    {
        docs = db.Documents.Include(d=>d.Records).ToList();
        return base.OnInitializedAsync();
    }
}