@page "/"
@layout ChatLayout
@using AIShowcase.WebApp.Components.Generic
@using Microsoft.Extensions.AI
@using ai_demos.Services

@inject SemanticSearch Search
@inject IChatClient ai
@inject NavigationTool navigationTool
@inject VoiceSettingsTool voiceSettingsTool

<SectionContent SectionId="ChatLayout.Sections.ChatOutput">
    <ChatOutput Messages="messages" StreamingText="@streamingText" IsThinking="isThinking">
        <EmptyTemplate>
            <h2>I'm ready to help.</h2>
        </EmptyTemplate>
    </ChatOutput>
    <ChatSuggestions OnSelected="RespondWithStreamingText" @ref="chatSuggestions" />
</SectionContent>

<SectionContent SectionId="ChatLayout.Sections.ChatInput">
    <ChatInput @ref="ChatInputRef" OnSend="RespondWithStreamingText"
               OnSendSpeech="RespondWithSpeech"
               OnSendImage="SubmitImage"
               OnMicrophoneStart="CreateListeningMessage"
               OnRestartChatClicked="RestartChat" />
</SectionContent>
