@page "/view-pdf"
@inject IJSRuntime js
<h3>PdfViewer</h3>
<TelerikPdfViewer Data="pdfData" Height="800px"></TelerikPdfViewer>
@loading
@code {
    TelerikPdfViewer? telerikPdfViewer;
    private byte[]? pdfData;
    bool loading;

    [SupplyParameterFromQuery]
    [Parameter]
    public int Page { get; set; } 

    [SupplyParameterFromQuery]
    [Parameter]
    public string File { get; set; } 

    [SupplyParameterFromQuery]
    [Parameter]
    public string Term { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        if (!string.IsNullOrEmpty(File))
        {
            using (var httpClient = new HttpClient())
            {
                var basePath = "https://localhost:7118/"; // TODO: Make dynamic
                var fullPath = $"{basePath}{File}";
                pdfData = await httpClient.GetByteArrayAsync(fullPath);
                loading = false;
            }
        }
        await base.OnInitializedAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            js.InvokeVoidAsync("invokePDFSearch", Term, Page);
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}
