@using AIShowcase.WebApp.Components.ChatOutputServices
@using Markdig
@using Microsoft.Extensions.AI
@namespace AIShowcase.WebApp.Components.Generic
@inject PrismInterop prism

<div class="k-d-flex k-flex-col">
    <div role="log" aria-label="Message list" aria-live="polite">
        <div @ref="messageListElement">
            @foreach (ChatMessage m in FilteredMessages)
            {
                if (m.Role == ChatRole.Assistant)
                {
                    <div class="k-w-full k-mb-8">
                        @if (m.Text is not null)
                            @((MarkupString)Markdown.ToHtml(m.Text))
                    </div>
                }
                else
                {
                    <div class="k-d-flex k-justify-content-end k-w-full k-mb-8 k-font-weight-semibold">
                        <div class="k-rounded-lg k-border-solid k-border-primary k-text-primary k-p-4 k-mb-4 k-elevation-2 k-w-3/4">
                            @if (m.Text is not null)
                                @((MarkupString)Markdown.ToHtml(m.Text))
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    ElementReference? messageListElement;
    List<ChatMessage> _messages = new();
    bool shouldFormatSyntax;

    private IEnumerable<ChatMessage> FilteredMessages => Messages.Where(m => m.Role == ChatRole.User || m.Role == ChatRole.Assistant);

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public List<ChatMessage> Messages { get; set; } = new();

    [Parameter]
    public bool IsThinking { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (shouldFormatSyntax && messageListElement.HasValue)
        {
            shouldFormatSyntax = false;
            await prism.HighlightAllUnder(messageListElement.Value);
        }
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        bool parameterExists = parameters.TryGetValue<List<ChatMessage>>(nameof(Messages), out var value);

        if (parameterExists && !_messages.SequenceEqual(value!))
        {
            shouldFormatSyntax = true;
            _messages = new List<ChatMessage>(value!);
        }
        await base.SetParametersAsync(parameters);
    }
}